<ion-header>
  <ion-toolbar color="themeDark">
    <ion-buttons slot="start">
      <ion-button color="themeLightest">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="themeLightest">
      Current Players: {{currentTeam | teamName}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-row *ngFor="let player of currentRoster" justify-content-center>
    <ion-card padding class="divisionCard"
              tappable (click)="savePlayer(player)">
      <ion-img src="https://nhl.bamcontent.com/images/headshots/current/168x168/{{(player | playerID)}}.jpg">
      </ion-img>
      <ion-card-title>{{ player | playerName }}</ion-card-title>
      <ion-card-content>
        <ion-list>
          <ion-item>
            {{ player | playerPosition}}
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </ion-row>
</ion-content>
