# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

src/assets/consumer_key.txt
src/assets/consumer_secret.txt
.idea/
.ionic/
.sourcemaps/
.sass-cache/
.tmp/
.versions/
coverage/
www/
node_modules/
tmp/
temp/
platforms/
plugins/
plugins/android.json
plugins/ios.json
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
src/app/core/services/Yahoo-API.service/tokens/consumer_secret.txt
src/app/core/services/Yahoo-API.service/tokens/consumer_key.txt
src/app/core/services/Yahoo-API.service/tokens/consumer_secret.txt
src/app/core/services/Yahoo-API.service/tokens/consumer_key.txt
src/app/core/services/Yahoo-API.service/tokens/consumer_key.txt
*.txt
src/app/core/services/Yahoo-API.service/tokens/consumer_key.txt
src/app/core/services/Yahoo-API.service/tokens/consumer_secret.txt
src/app/core/services/Yahoo-API.service/tokens/consumer_key.txt
