/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  /** Custom Ionic theming **/
  --ion-background-color: #D3D5D5;

  --ion-color-themeDarkest: #382737;
  --ion-color-themeDarkest-rgb: 56, 39, 55;
  --ion-color-themeDarkest-contrast: #000000;
  --ion-color-themeDarkest-contrast-rgb: 0, 0, 0;
  --ion-color-themeDarkest-shade: #160f16;
  --ion-color-themeDarkest-tint: #43354a;

  --ion-color-themeDark: #70597C;
  --ion-color-themeDark-rgb: 112, 89, 124;
  --ion-color-themeDark-contrast: #000000;
  --ion-color-themeDark-contrast-rgb: 0, 0, 0;
  --ion-color-themeDark-shade: #594763;
  --ion-color-themeDark-tint: #8c7a96;

  --ion-color-themeMiddle: #A68FCC;
  --ion-color-themeMiddle-rgb: 166, 143, 204;
  --ion-color-themeMiddle-contrast: #000000;
  --ion-color-themeMiddle-contrast-rgb: 0, 0, 0;
  --ion-color-themeMiddle-shade: #8472a3;
  --ion-color-themeMiddle-tint: #b7a5d6;

  --ion-color-themeLight: #BFBECC;
  --ion-color-themeLight-rgb: 191, 190, 204;
  --ion-color-themeLight-contrast: #000000;
  --ion-color-themeLight-contrast-rgb: 0, 0, 0;
  --ion-color-themeLight-shade: #85858e;
  --ion-color-themeLight-tint: #cbcbd6;

  --ion-color-themeLightest: #fafafa;
  --ion-color-themeLightest-rgb: 250, 250, 250;
  --ion-color-themeLightest-contrast: #000000;
  --ion-color-themeLightest-contrast-rgb: 0, 0, 0;
  --ion-color-themeLightest-shade: #a8aaaa;
  --ion-color-themeLightest-tint: #dbdddd;
}

@font-face {
  font-family: 'Roboto';
  src: url('https://fonts.googleapis.com/css?family=Roboto');
}

@font-face {
  font-family: 'Montserrat';
  src: url('https://fonts.googleapis.com/css?family=Montserrat');
}

* {
  font-family: 'Roboto', 'Montserrat', sans-serif !important;
  --ion-font-family: 'Roboto', 'Montserrat', sans-serif !important;
}

.ion-color-themeDarkest {
  --ion-color-base: var(--ion-color-themeDarkest) !important;
  --ion-color-base-rgb: var(--ion-color-themeDarkest-rgb) !important;
  --ion-color-base-contrast: var(--ion-color-themeDarkest-contrast) !important;
  --ion-color-base-contrast-rgb: var(--ion-color-themeDarkest-contrast-rgb) !important;
  --ion-color-base-shade: var(--ion-color-themeDarkest-shade) !important;
  --ion-color-base-tint: var(--ion-color-themeDarkest-tint) !important;
}

.ion-color-themeDark {
  --ion-color-base: var(--ion-color-themeDark) !important;
  --ion-color-base-rgb: var(--ion-color-themeDark-rgb) !important;
  --ion-color-base-contrast: var(--ion-color-themeDark-contrast) !important;
  --ion-color-base-contrast-rgb: var(--ion-color-themeDark-rgb) !important;
  --ion-color-base-shade: var(--ion-color-themeDark-shade) !important;
  --ion-color-base-tint: var(--ion-color-themeDark-tint) !important;
}

.ion-color-themeMiddle {
  --ion-color-base: var(--ion-color-themeMiddle) !important;
  --ion-color-base-rgb: var(--ion-color-themeMiddle-rgb) !important;
  --ion-color-base-contrast: var(--ion-color-themeMiddle-contrast) !important;
  --ion-color-base-contrast-rgb: var(--ion-color-themeMiddle-contrast-rgb) !important;
  --ion-color-base-shade: var(--ion-color-themeMiddle-shade) !important;
  --ion-color-base-tint: var(--ion-color-themeMiddle-tint) !important;
}

.ion-color-themeLight {
  --ion-color-base: var(--ion-color-themeLight) !important;
  --ion-color-base-rgb: var(--ion-color-themeLight-rgb) !important;
  --ion-color-base-contrast: var(--ion-color-themeLight-contrast) !important;
  --ion-color-base-contrast-rgb: var(--ion-color-themeLight-contrast-rgb) !important;
  --ion-color-base-shade: var(--ion-color-themeLight-shade) !important;
  --ion-color-base-tint: var(--ion-color-themeLight-tint) !important;
}

.ion-color-themeLightest {
  --ion-color-base: var(--ion-color-themeLightest) !important;
  --ion-color-base-rgb: var(--ion-color-themeLightest-rgb) !important;
  --ion-color-base-contrast: var(--ion-color-themeLightest-contrast) !important;
  --ion-color-base-contrast-rgb: var(--ion-color-themeLightest-rgb) !important;
  --ion-color-base-shade: var(--ion-color-themeLightest-shade) !important;
  --ion-color-base-tint: var(--ion-color-themeLightest-tint) !important;
}

