<ion-header>
  <ion-toolbar color="themeDark">
    <ion-buttons slot="start">
      <ion-button color="themeLightest">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!--<ion-buttons slot="secondary">-->
      <!--<ion-button color="themeLightest" *ngIf="!isLoggedIn()" (tap)="openLoginDialogue()">-->
        <!--<ion-icon slot="icon-only" name="contact"></ion-icon>-->
      <!--</ion-button>-->
      <!--<ion-button color="themeLightest" *ngIf="isLoggedIn()" (tap)="logOut()">-->
        <!--<ion-icon slot="icon-only" name="contact"></ion-icon>-->
      <!--</ion-button>-->
    <!--</ion-buttons>-->
    <ion-title color="themeLightest">
      Current Standings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!--<ion-virtual-scroll [items]="currentStandings">-->
    <!--<ion-item *virtualItem="let league">-->
      <ion-card *ngFor="let league of currentStandings">
        <ion-list>
          <ion-item>
            <h1> Conferences </h1>
            <ion-item> {{league | conference | conferenceName}} </ion-item>
            <ion-item> {{league | conference | conferenceID}} </ion-item>
            <ion-card>
              <ion-item>
                <h2> Divisions </h2>
                <ion-list>
                  <ion-item> {{league | division | divisionName}} </ion-item>
                </ion-list>
              </ion-item>
            </ion-card>
          </ion-item>
        </ion-list>
      </ion-card>
    <!--</ion-item>-->
  <!--</ion-virtual-scroll>-->
</ion-content>>
