<ion-header>
  <ion-toolbar color="themeDark">
    <ion-buttons slot="start">
      <ion-button color="themeLightest">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!--<ion-buttons slot="secondary">-->
      <!--<ion-button color="themeLightest" *ngIf="!isLoggedIn()" (tap)="openLoginDialogue()">-->
        <!--<ion-icon slot="icon-only" name="contact"></ion-icon>-->
      <!--</ion-button>-->
      <!--<ion-button color="themeLightest" *ngIf="isLoggedIn()" (tap)="logOut()">-->
        <!--<ion-icon slot="icon-only" name="contact"></ion-icon>-->
      <!--</ion-button>-->
    <!--</ion-buttons>-->
    <ion-title color="themeLightest">
      Top Players
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  The world is your oyster.
  <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs">docs</a> will be your guide.</p>
</ion-content>
